<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFPJ4JX');</script>
<!-- End Google Tag Manager -->
<!--MathJax Script for Latex-->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
          inlineMath: [['$','$']],
          processEscapes: true,
      },
    });
  </script>
<!--MathJax Script for Latex-->
<!--For Sorting tables-->
<script src="sorttable.js"></script>
<!--For sorttable tables-->
<!--------------------------------------------------Start of HTML Document----------------------------------------->
<!----CSS for Tables---->
<style>table, th, td {
  border: 1px solid black;
}</style>
<!----CSS for tables--->

<header>

  (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>
  :<a href="https://bluewworks.github.io/Videos/"">Videos</a>
  |
</header>

<h1>Videos<h1>
I host most of my videos on MEGA and Youtube,other video hostng providers are either too restrictive or have a file size limit.
<table>
  <tr>
    <td><b>Seminars,Lectures and Classes<b></td>
    <td><b>Movies,Episodes and Shows<b></td>
    <td><b>How to do?<b></td>
  </tr>
  <tr>
    <td><img src="https://raw.githubusercontent.com/bluewworks/Videos/master/images/Lectures.jpg" alt="Fun & Games" style="width:500px;height:500px";</td>
    <td><img src="https://raw.githubusercontent.com/bluewworks/Videos/master/images/Movies.jpg" alt="Fun & Games" style="width:500px;height:500px";</td>
    <td><img src="https://raw.githubusercontent.com/bluewworks/Videos/master/images/howto.jpg" alt="Fun & Games" style="width:500px;height:500px";</td>
  </tr>
</table>

Hello
