<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFPJ4JX');</script>
<!-- End Google Tag Manager -->
<!--MathJax Script for Latex-->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
          inlineMath: [['$','$']],
          processEscapes: true,
      },
    });
  </script>
<!--MathJax Script for Latex-->
<!--For Sorting tables-->
<script src="sorttable.js"></script>
<!--For sorttable tables-->
<!--------------------------------------------------Start of HTML Document----------------------------------------->
<!----CSS for Tables---->
<style>table, th, td {
  border: 1px solid black;
}</style>
<!----CSS for tables--->

<header>

  (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>
  :<a href="https://bluewworks.github.io/Videos/">Videos</a>
  :<a href="https://bluewworks.github.io/Videos/Movies/">Movies</a>
</header>

<h1>Videos<h1>
I host most of my videos on MEGA and Youtube,other video hostng providers are either too restrictive or have a file size limit.
<table>
  <tr>
    <td><b><iframe width="500" height="250" src="https://www.youtube.com/embed/L0MK7qz13bU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><b></td>
    <td><b><iframe width="500" height="250" frameborder="0" src="https://mega.nz/embed#!undefined!UzAAkbG4naPH3EZMgW9E1d3eZyCWI9nV0_MrB7D_5G4" allowfullscreen></iframe><b></td>
    <td><b><iframe width="500" height="250" frameborder="0" src="https://mega.nz/embed#!undefined!UzAAkbG4naPH3EZMgW9E1d3eZyCWI9nV0_MrB7D_5G4" allowfullscreen></iframe>
<b></td>
  </tr>
  <tr>
    <td><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjai.ramanathan.549%2Fvideos%2F107575037308531%2F&width=500&show_text=true&height=366&appId" width="500" height="366" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></td>
    <td><iframe width="500" height="250" src="https://www.youtube.com/embed/L0MK7qz13bU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
    <td><iframe width="500" height="250" src="https://www.youtube.com/embed/L0MK7qz13bU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
  </tr>
</table>

hiiiiiiiiiiiiiiiiiiiiiiiii
i am baby

